@{
    ViewBag.Title = "Index";
}

<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i> <a href="/Admin/Home">Dashboard</a>
    </li>
    <li>
        <i class="fa fa-heart"></i> Management
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Category
    </li>
</ol>

<div id="ajaxBusy" style=" display:none;">loader.....</div>

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<p>
    
    <a href="/Admin/Categories/Create" title="Create" class="btn btn-success animated tada">
        <i class="fa fa-plus icon-white"></i> Create
    </a>
</p>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
               
            </div>
            <div class="box-content">
                <table class="table table-responsive table-bordered" id="myTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>NameTH</th>
                            <th>Name</th>
                            <th>Image</th>
                            <th>Icon</th>
                            <th></th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Category c in ViewBag.Categories)
                        {
                            <tr>
                                <td>@c.Id</td>
                                <td>@c.NameVN</td>
                                <td>@c.Name</td>
                                <td>@c.Image</td>
                                <td>
                                    <img class="img-responsive" src="/Content/img/Icons/@c.Icon" width="50" height="25" />
                                </td>
                                <td class="center">
                                    <a href="/Admin/Categories/Details/@c.Id" title="Detail" class="btn btn-success btnModal">
                                        <i class="fa fa-search icon-white"></i> Detail
                                    </a>
                                    <a href="/Admin/Categories/Edit/@c.Id" title="Edit" class="btn btn-info btnModal">
                                        <i class="fa fa-edit"></i> Edit
                                    </a>
                                    <a href="/Admin/Categories/Delete/@c.Id" title="Delete" class="btn btn-danger btnModal">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </a>
                                </td>


                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/span-->

</div><!--/row-->

<script>
    $(function() {
        $.ajaxSetup({ cache: false });
        $(".btnModal").on("click", function(e) {
            $('#myModalContent').load(this.href, function() {
                $('#myModal').modal({
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function() {
            $('#progress').show();
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function(result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        $('#progress').hide();
                        location.reload();
                    } else {
                        $('#progress').hide();
                        $('#myModalContent').html(result);
                        bindForm();
                    }
                }
            });
            return false;
        });
    }
</script>

<script type="text/javascript">
     $(document).ajaxStart(function () {
         $('#ajaxBusy').show();
     });
     $(document).ajaxStop(function () {
         $('#ajaxBusy').hide();
     });
     $(function () {

         $(".loader").click(function () {
             $.ajax({
                 type: "POST",
                 url: "/Test/AjaxLoader",
                 data: "",
                 success: function (sesponseTest) {
                     alert(sesponseTest);
                 }
             });

         });

     })
</script>

