@model Order

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <input type="text" class="myDate form-control"/>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<script type="text/javascript">
    $(function() {
        $('.myDate').datepicker();
    });
</script>
