<div class="panel panel-default nn-cart">
    <div class="panel-body">
        <img id="nn-cart-image" class="col-md-5 col-sm-5 col-xs-5 img-responsive" src="~/Content/img/Gif/shoppingcart.gif" />
        <ul class="col-md-7">
            <li><span id="nn-cart-count">@ShoppingCart.Cart.Count</span> ชิ้น</li>
            <li>฿ <span id="nn-cart-total">@ShoppingCart.Cart.Total</span></li>
            <li><a href="/Cart/Index">View Cart</a></li>
        </ul>
    </div>
</div>
<style>
    .nn-cart ul {
        padding: 0px;
        margin: 0px;
        list-style: none;
    }
</style>
