@model IEnumerable<Category>

<div class="panel panel-blue">

    <div class="panel-heading text-center">
        <span class="glyphicon glyphicon-th-list"></span>
        <strong>ประเภทสินค้า</strong>
    </div>

    <div class="list-group nn-text-align-center">
        @foreach (var c in Model)
        {
            <a href="/Product/Category?CategoryId=@c.Id"
               class="list-group-item">@c.NameVN</a>
        }
    </div>
</div>