<div class="container">
    <div class="footer-static">
        <div class="row">
            <div class="f-col f-col-3 col-sm-6 col-md-4 col-sms-6 col-smb-12">
                <div class="img-logo"><a href="#"><img src="http://www.plazathemes.com/demo/ma_enzo/media/wysiwyg/logo.png" alt=""></a></div>
                <div class="footer-static-content ">
                    
                </div>
            </div>
        </div>
    </div>
</div>
