<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            product <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="/Product/New">New</a></li>
            <li><a href="/Product/BestSeller">BestSeller</a></li>
            <li><a href="/Product/SaleOff">SafeOff</a></li>
            <li><a href="/Product/All">All</a></li>

        </ul>
    </li>
    <li><a href="#">Contact</a></li>
    <li><a href="#">About Us</a></li>
 




   
</ul>

<ul class="nav navbar-nav navbar-right">
    <li><a href="/Account/Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
    <li><a href="/Account/Login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
</ul>
