body {
    padding-top: 20px;
    padding-bottom: 20px;

    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-attachment: fixed;
    background-image: url('img/518079-background-hd.jpg');
}

/*Set padding to keep content from hitting the edges */
.whiteBackground {
    background-color: #fff;
    opacity: 0.9;
    padding: 2em;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
   
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.h2 {
    font: 18px Tahoma;
    color: #2E2EFE;
    font-weight: bold;
    
}

.h3 {
    font: 15px Tahoma;
    color: #04B404;
    font-weight: bold;
}

.h4 {
    font: 15px Tahoma;
    color: #FF8000;
    font-weight: bold;
}

.h5 {
    font: 20px Tahoma;
    color: #FE2E64;
    font-weight: bold;
}