@model Supplier

@{
    ViewBag.Title = "Details";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Detail Supplier</h3>
</div>

<div class="modal-body">
    <div class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-4">Logo </label>
            <div class="col-md-6">
                <img src="/content/img/suppliers/@Model.Logo" class="img-logo img-thumbnail animated rollIn"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">ID </label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Id, new {@class = "form-control valid", @disabled = "disabled"})
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Name </label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Name, new {@class = "form-control valid", @disabled = "disabled"})
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">E-Mail </label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Email, new {@class = "form-control valid", @disabled = "disabled"})
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-4">Tel</label>
            <div class="col-md-6">
                @Html.TextBoxFor(model => model.Phone, new {@class = "form-control valid", @disabled = "disabled"})
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-warning" data-dismiss="modal">Close</button>
</div>