

@{
    ViewBag.Title = "Supplier";
    
}

<ol class="breadcrumb">
    <li>
        <i class="fa fa-dashboard"></i> <a href="/Admin/Home">Dashboard</a>
    </li>
    <li>
        <i class="fa fa-heart"></i> Management
    </li>
    <li class="active">
        <i class="fa fa-table"></i> Supplier
    </li>
</ol>

<div id='myModal' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>

<p>

    <a href="/Admin/Suppliers/Create" title="Create" class="btn btn-success animated tada">
        <i class="fa fa-plus icon-white"></i> Create
    </a>
</p>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">

            </div>
            <div class="box-content">
                <table class="table table-responsive table-bordered" id="myTable">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Logo</th>
                            <th></th>

                        </tr>
                    </thead>

                    <tbody>
                        @foreach (Supplier s in ViewBag.Suppliers)
                        {
                            <tr>
                                <td>@s.Id</td>
                                <td>@s.Name</td>
                                <td>@s.Email</td>
                                <td>@s.Phone</td>
                                <td>
                                    <img class="img-responsive" src="/Content/img/suppliers/@s.Logo" width="120" height="100" />
                                </td>
                                
                                <td class="center">
                                    <a href="/Admin/Suppliers/Details/@s.Id" title="Detail" class="btn btn-success btnModal">
                                        <i class="fa fa-search icon-white"></i> Detail
                                    </a>
                                    <a href="/Admin/Suppliers/Edit/@s.Id" title="Edit" class="btn btn-info btnModal">
                                        <i class="fa fa-edit"></i> Edit
                                    </a>
                                    <a href="/Admin/Suppliers/Delete/@s.Id" title="Delete" class="btn btn-danger btnModal">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </a>
                                </td>
                          </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--/span-->

</div>


<script>
    $(function () {
        $.ajaxSetup({ cache: false });
        $(".btnModal").on("click", function (e) {
            $('#myModalContent').load(this.href, function () {
                $('#myModal').modal({
                    keyboard: true
                }, 'show');
                bindForm(this);
            });
            return false;
        });
    });

    function bindForm(dialog) {
        $('form', dialog).submit(function () {
            $('#progress').show();
            $.ajax({
                url: this.action,
                type: this.method,
                data: $(this).serialize(),
                success: function (result) {
                    if (result.success) {
                        $('#myModal').modal('hide');
                        $('#progress').hide();
                        location.reload();
                    } else {
                        $('#progress').hide();
                        $('#myModalContent').html(result);
                        bindForm();
                    }
                }
            });
            return false;
        });
    }
</script>