@model IEnumerable<Category>
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="container">
    <!--Slide show--><br/><br /><br />

    <h2>Product</h2>
    <div id="mi-slider" class="mi-slider">
        @foreach (Supplier s in ViewBag.Suppliers)
        {
            var items = s.Products
                .OrderBy(p => Guid.NewGuid())
                .ToList().Take(4);
            <ul>
                @foreach (var p in items)
                {
                    <li>
                        <a href="/Product/Detail/@p.Id">
                            <img src="/content/img/products/@p.Image" title="@p.Name">
                        </a>
                    </li>
                }
            </ul>
        }
        <nav>
            @foreach (var s in ViewBag.Suppliers)
            {
                <a href="#">@s.Name</a>
            }
        </nav>
    </div>
    <a href="/Product/Index" class="btn btn btn-default btn-lg">View More</a>
</div>


<link href="~/Content/css/catslider.css" rel="stylesheet"/>
<script src="~/Scripts/modernizr.custom.63321.js"></script>
<script src="~/Scripts/jquery.catslider.js"></script>
    <style>
        .mi-slider a {
            text-decoration: none;
            font-family: tahoma;
        }

        .mi-slider img {
            height: 200px;
        }
    </style>
    <script>
        $(function () {
            $('#mi-slider').catslider();

            iii = 0;
            setInterval(function () {
                $("#mi-slider nav>a:eq(" + iii + ")").click();
                iii = (iii + 1) % 4;
            }, 5000);
        });
    </script>
